.upload-component {
  padding: 0 80px 0 80px ;
  .my-drop-zone {
    border: dotted 3px lightgray;
    height: 150px;
  }
  /* Default class applied to drop zones on over */
  .nv-file-over {
    border: dotted 3px lightsalmon;
  }
  .process-progress {
    padding-top: 50px;
  }
}

