<div class="hotel-list">
  <h2 class="feature-heading text-center">Hotel LIST</h2>
  <div class="alert-bar" *ngIf="!!message" >
    <ngb-alert [type]="message.type" (close)="closeAlert()">{{message.message}}</ngb-alert>
  </div>
  <div class="m-auto col-md-11 row">
    <div class="col-md-10">
      <label>Country Code</label>
      <input #countryCode type="text" placeholder="Country Code">
      <label>City Code</label>
      <input #cityCode type="text" placeholder="City Code">
      <label>Hotel Code</label>
      <input #hotelCode type="text" placeholder="Hotel Code">
      <button class="btn btn-primary" (click)="clickSearch(countryCode.value, cityCode.value, hotelCode.value)">Search</button>
    </div>
    <div class="col-md-2 btn btn-dark create-hotel-btn float-right" [routerLink]="0" >new hotel</div>
  </div>
  <div *ngIf="hotelList;else loading">

    <table class="m-auto table table-hover table-responsive items">
      <thead class="thead-inverse">
      <tr>
        <th>Country Code</th>
        <th>City Code</th>
        <th>Hotel Code</th>
        <th>Hotel Name</th>
        <th>Hotel Name in CN</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hotel of hotelList" ngbTooltip="Click to Edit"
          [routerLink]="hotel.id"
          placement="right">
        <td>
          {{hotel.geography.countryCode}}
        </td>
        <td>
          {{hotel.geography.cityCode}}
        </td>
        <td>
          {{hotel.hotelCode}}
        </td>
        <td>
          {{hotel.hotelNameEn}}
        </td>
        <td>
          {{hotel.hotelNameZh}}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <div class="row">
        <ngb-pagination class="" [pageSize]="perPage" [collectionSize]="collectionSize"
                        [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                        (pageChange)="getPageContent()"></ngb-pagination>
        <div class="per-page-setting">
          <input title='page' [(ngModel)]="perPage">
          <div class="btn" (click)="getPageContent()">Per Page</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading">
      <svg class="loading-icon" version="1.1"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
           viewBox="0 0 1024 1024">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate"
                          from="0 0 0" to="360 0 0" dur="1s" repeatCount="indefinite"></animateTransform>
        <image xlink:href="assets/img/loading.svg" style="width:100%;"></image>
      </svg>
    </div>
  </ng-template>
</div>
