<h3 class="text-center feature-heading">ADMIN</h3>
<div id="admin-home" class="row">
  <a class="ml-md-auto col-md-3 col-xs-12 text-center" routerLink="users">
    <svg class="admin-icon" version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
      <image xlink:href="assets/img/account.svg"/>
    </svg>
    <h5>User Management</h5>
  </a>
  <a class="mr-md-auto col-md-3 col-xs-12 text-center" routerLink="roles">
    <svg version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" class="admin-icon">
      <image xlink:href="assets/img/Role.svg"/>
    </svg>
    <h5>Role Management</h5>
  </a>
</div>
