body {
  background-color: lightblue;
}

.home-area {
  padding: 80px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: lightblue;
  .login-form {
    margin:auto;
    background-color: lightblue;

  }
}
